<?xml version="1.0"?>
<launch>
<arg name="fake" default="false"/>
<arg name="use_rviz" default="true" />
<arg name="debug" default="false" />
<arg name="pipeline" default="ompl" />

<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg     if="$(arg debug)" name="launch_prefix"
 value="gdb --ex run --args" />

<!-- load URDF&co -->
 <include file="$(find kr_50_r2500_moveit_config)/launch/planning_context.launch">
   <arg name="load_robot_description" value="true"/>
 </include>

  <!-- in high_dof_6_moveit_config package the joint_states is remapped to joint_states_desired -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

<!-- load moveit -->
<include file="$(find kr_50_r2500_moveit_config)/launch/move_group.launch">
  <arg name="allow_trajectory_execution" value="true"/>
  <arg name="fake_execution_type" value="false"/>
  <arg name="info" value="true"/>
  <arg name="debug" value="$(arg debug)"/>
  <arg name="pipeline" value="$(arg pipeline)"/>
</include>

<!-- load rviz -->
<include file="$(find kr_50_r2500_configurations)/launch/rviz.launch" if="$(arg use_rviz)">
  <arg name="rviz_config" value="$(find kr_50_r2500_configurations)/launch/control.rviz"/>
  <arg name="debug" value="$(arg debug)"/>
</include>


<include file="$(find kr_50_r2500_configurations)/launch/robot_control.launch">
  <arg name="fake" value="$(arg fake)"/>
  <arg name="launch_prefix" value="$(arg launch_prefix)"/>
</include>

<rosparam command="load" file="$(find battery_cell_configurations)/config/local_ip.yaml"/>
<rosparam command="load" file="$(find kuka_rsi_hw_interface)/config/controller_joint_names.yaml"/>
<rosparam command="load" file="$(find kuka_rsi_hw_interface)/config/hardware_controllers.yaml"/>
<node name="kuka_hardware_interface" pkg="kuka_rsi_hw_interface"
  type="kuka_hardware_interface_node" respawn="false"
  output="screen"
  required="true"/>

</launch>
