<?xml version="1.0"?>

<robot name="$(arg robot_name)" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find kr_50_r2500_description)/urdf/kr_50_r2500.xacro" />
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_fake_hardware" default="false"/>

  <xacro:property name="prefix" value="'$(arg prefix)'" />
  <xacro:property name="robot_name" value="'$(arg robot_name)'" />
  <xacro:property name="use_fake_hardware" value="'$(arg use_fake_hardware)'" />

  <xacro:property name="rsi_config" value="$(find kr_50_r2500_description)/config/rsi_config.yaml" />
  <xacro:property name="rsi_config_dict" value="${xacro.load_yaml(rsi_config)}"/>
  <xacro:property name="client_ip" value="${rsi_config_dict['client_ip']}" />
  <xacro:property name="client_port" value="${rsi_config_dict['client_port']}" />

  <xacro:kr_50_r2500 name="${robot_name}"
                     prefix="${prefix}"
                     client_ip="${client_ip}"
                     client_port="${client_port}"
                     use_fake_hardware="${use_fake_hardware}" />

  <link name="world"/>
  <joint name="${prefix}world_to_base_link" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${-pi/2} 0 0" />
      <parent link="world"/>
      <child link="${prefix}base_link"/>
  </joint>

</robot>
