<?xml version="1.0"?>


<robot name="kr_50_r2500" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_name" default="kr_50_r2500"/>

  <xacro:include filename="$(find kr_50_r2500_description)/urdf/kr_50_r2500.xacro" />
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_fake_hardware" default="true"/>

  <xacro:property name="prefix" value="'$(arg prefix)'" />
  <xacro:property name="robot_name" value="'$(arg robot_name)'" />
  <xacro:property name="use_fake_hardware" value="'$(arg use_fake_hardware)'" />

  <xacro:kr_50_r2500 name="${robot_name}"
                     prefix="${prefix}"
                     use_fake_hardware="${use_fake_hardware}" />

  <link name="world"/>
  <joint name="${prefix}world_to_base_link" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${-pi/2} 0 0" />
      <parent link="world"/>
      <child link="${prefix}base_link"/>
  </joint>

</robot>
