<?xml version="1.0"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kr_50_r2500"  params="name:='kr_50_r2500'
                                             prefix:=''
                                             interface:=hardware_interface/EffortJointInterface
                                             use_fake_hardware:=true">

    <xacro:property name="rsi_config" value="$(find kr_50_r2500_description)/config/rsi_config.yaml" />
    <xacro:property name="rsi_config_dict" value="${xacro.load_yaml(rsi_config)}"/>
    <xacro:property name="client_ip" value="${rsi_config_dict['client_ip']}" />
    <xacro:property name="client_port" value="${rsi_config_dict['client_port']}" />

    <xacro:include filename="$(find kr_50_r2500_description)/urdf/kr_50_r2500_robot.xacro" />
    <xacro:kr_50_r2500_robot prefix="${prefix}"/>

    <xacro:include filename="$(find kr_50_r2500_description)/urdf/kr_50_r2500_transmission.xacro" />
    <xacro:kr_50_r2500_transmission prefix="${prefix}" interface="${interface}"/>

    <xacro:include filename="$(find kr_50_r2500_description)/urdf/kr_50_r2500_ros2_control.xacro" />
    <xacro:kr_50_r2500_ros2_control name="${name}"
                                    prefix="${prefix}"
                                    client_ip="${client_ip}"
                                    client_port="${client_port}"
                                    use_fake_hardware="${use_fake_hardware}" />

    </xacro:macro>

</robot>
